# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=marketplace_db

# External AI Services
FRAUD_API_URL=http://localhost:5001/predict
INSURANCE_API_URL=http://localhost:5002/predict

# Server Configuration
PORT=5000
NODE_ENV=development
